<h2>はしご歌とは</h2>
<p class="textleft">"はしご歌"は路上ライブに勇気付けられた人がその経験を伝えるため・その感謝を伝えるためにできたサイトです。<br>
  アーティストの方がライブ情報を投稿するのでユーザーはライブ情報を簡単に見つけることができます。<br>
  たくさんのライブを聞きに行ったり、お気に入りのアーティストさんを見つけたり。使い方は自由です！もちろん利用は完全無料。<br>
  <div class="margintop20px"></div>
  そして"はしご歌"最大の魅力は独自トークン『MAGOKORO』です。（現在トークンの発行に向けて準備中）<br>
  これはビットコインで購入ができ、アーティストさんへ『MAGOKORO』を渡たすことができます。<br>
  リターンを設定しているアーティストさんもいるのでぜひチェックしてみてください！<br>
  この仕組みによって参加者全員がここ"はしご歌"を盛り上げることになり、そして全員で夢を追うことができるのです。
  </p>
