<h2>路上ライブの楽しみ方</h2>
<div class="margintop50px"></div>
<h3>はじめに</h3>
<p class="textleft">こんにちは！はしご歌運営の望月です。突然ですが、みなさまは路上ライブを見たことがありますか？私が出会ったのは大学1年生の春。<br>
初めての一人暮らしと大学が始まった頃で、地元の友達と離れた寂し寂しさと新生活へ不安で一杯だった時でした。今でもはっきりと覚えています。<br>
大学のあった久喜駅で女性の方が力強い声でゆずさんの『夏色』、オリジナルソング等を歌っていました。（ちなみに私は東京理科大学出身です）<br>
その方の熱い想いに感動し、勇気をもらえた経験をもっと伝えたい、そして感謝の気持ちを伝えたいという想いでこのサイトは立ち上がっています。
<br><div class="margintop10px"></div>
そうそう。路上ライブ出身のアーティストさんって結構多くて先ほどのゆずさんやいきものがかりさん、そして私が一番好きなアーティストである藤原さくらさんも！！<br>
今では誰もが知っているアーティストさんだと思います。そんな路上ライブから世界へ羽ばたいていく夢の道を一緒に走れたらという想いから独自トークン『<a href="/about">MAGOKORO</a>』の発行の構想にいたってます。（現在トークンの発行に向けて準備中）
<br><div class="margintop20px"></div>
しかし、まだまだ路上ライブを楽しむ人は少なく、どのように楽しんだらいいかわからないと思います。そこでここでは路上ライブを120%楽しむために、
そして"はしご歌"を好きになってもらえるように一生懸命お伝えしようと思います！
</p>
<div class="margintop50px"></div>
<div style="position:relative;height:0;padding-bottom:35.0%"><iframe src="https://www.youtube.com/embed/r1iSPJgdOL0?ecver=2" width="480" height="160" frameborder="0" style="position:absolute;width:40%;height:300px;left:0" allowfullscreen></iframe></div>

<h3>どんな人がやっているの？</h3>
<p class="textleft">~公開準備中~</P>

  <div class="margintop30px"></div>
<h3>どんな想いでやっているの？</h3>
<p class="textleft">~公開準備中~</P>


  <div class="margintop30px"></div>
<h3>路上ライブを120%楽しむためには？</h3>
<p class="textleft">~公開準備中~</p>