<h2>個人情報の取扱いに関する規定</h2>
<br>
<h3>第１条（取得・保有する個人情報）</h3>
<br>
株式会社SUNCREAは、はしご歌（以下「本サービス」とします）を通じて、利用者に対し有益な情報コンテンツを提供するため以下の情報を本サービスのご利用に応じて取得･保有します。
・利用者が当社に提供する情報(利用者のアカウント名、メールアドレス、居住国、生年月日、性別)。
<br>
・閲覧履歴 / 購入履歴など本サービス上での利用者の行動に関する情報
<br>
・利用者が、ご自身のFacebookアカウントとはしご歌のアカウントを接続した場合は、利用者のFacebookアカウントからの情報（利用者のアカウント名、メールアドレス、生年月日、性別、Facebook アカウントのプロフィール写真）
<br>
・ サーバーログ情報
<br>
利用者が本サービスをご利用になる際に、サーバーログ内の特定の情報が自動的に取得されます。これには、検索キーワード、閲覧したページ等のサービス利用状況の詳細、IPアドレス、端末のイベント情報（ブラウザの種類、ブラウザの言語、利用者によるリクエストの日時、参照 URL など）、利用者のブラウザまたは利用者のアカウントを特定できる Cookie、ピクセルタグなどの情報が含まれることがあります。
利用者がお使いのコンピュータ（ブラウザ）によっては、その設定を変更することにより、クッキーの機能を無効にすることができます。但し、その結果、ウェブサイト上のサービスの全部又は一部が利用できなくなる場合がありますので、あらかじめご了承ください。
＊上記以外の個人情報を取得・保有する場合、取得する際に利用者に対して利用目的を開示し、利用者にご同意いただくことといたします。
<h3>第2条（個人情報の利用目的）</h3>
当社は、蓄積された個人情報を次の各号に掲げる利用目的のために利用します。
<br>
（１）利用者に合わせてパーソナライズしたデジタルコンテンツの提供。（関連性がより高いコンテンツや広告を提供するなど）
<br>
（２）利用者の行動分析（Ｗｅｂ閲覧データその他の当社が取得した各種情報との統合分析結果を含むものとし、以下も同様とします。）、及び、当該行動分析結果を基礎とした新商品・サービスの企画立案及び開発、提携事業者への情報資産としての提供。
<br>
（３）前項に定める行動分析結果を基礎とした各種キャンペーンやサービスの案内等、本人に対する興味・関心度の高い情報の適切なタイミングで提供。
<br>
（４）本人からの問合せ、苦情等に対する適切な対応。
<br>
（５）本サービスの廃止、運営の停止、後継プログラムへの引き継ぎ等やそれらに関連する業務。
<br>
（６）本規定第４条に記載する内容に従った提供先への情報提供
<br>
（７）その他、上記に関連する一切の当社の事業。
<br>
<h3>第3条（個人情報等の取り扱い）</h3>
当社は、取り扱う個人情報等を正確かつ最新の状態に保つよう努力いたします。また取り扱う個人情報等の漏えい、滅失又はき損の防止その他の個人情報等の安全管理のために必要かつ適切な措置を講じ、機密性の維持に努めるべく個人情報等を厳重に管理するものとします。
<h3>第4条（第三者への個人情報等の提供について）</h3>
1.　当社は、本サービスで蓄積された個人情報等を、第三者に提供することができるものとし、本人はこれに同意するものとします。なお、当社は、できる限り提供先たる第三者の種類及び属性・第三者における利用目的等を本人の知りうる状態に置くよう努力するものとしますが、本人にかかる情報を開示する義務を負うものではないものとします。
<br>２．当社は、本サービスで蓄積された個人情報等の取扱いの全部又は一部を第三者たる委託先に委託することがあります。この場合、当社は委託先に対し、個人情報等の安全管理が図られるよう必要かつ適切な監督を行います。
<h3>第5条（保有個人データの開示・訂正等・利用停止等）</h3>
１．本サービスで蓄積された個人情報等が保有個人データに該当する場合、本人又はその代理人（法定代理人／委任に基づく代理人）は、当社に対して「利用目的の通知、個人情報の開示、訂正、利用停止・消去」を求めることができます。
<br>
２．前項の請求を行う場合、詳細につきましては、次条に定める「個人情報に関するお問合せ先」までお問合せください。なお、請求に際しご提出（郵送）いただいた書面については、返却いたしかねます。
<br>
３．開示・訂正等・利用停止等の請求により、万一当該保有個人データの内容が事実でないことが判明した場合には、当社は速やかに訂正又は削除に応じるものとします。
<br>
４．開示・訂正等・利用停止等の請求をされた場合でも、個人情報の保護に関する法律に定めるところにより、開示・訂正等・利用停止等の請求に応じかねる場合がありますので、あらかじめご了承ください。
<br>
５．利用目的の通知、保有個人データの開示に関しては、手数料がかかります。詳細につきましては、次条に定める「個人情報に関するお問合せ先」までお問合せください
<h3>第6条（個人情報に関するお問合せ先）</h3>
保有個人データの開示・訂正等・利用停止等の請求その他個人情報等に関するお問合せ・ご意見は、下記のお問い合わせ先にて、お受けいたします。
<br>
お問い合わせ先： 株式会社SUNCREA お客様係
contact@suncrea.com