
        
        <div class="margintop50px"></div>
<h2 class="h2center"><span class="fa fa-user fa-4x"></span><br>一般の方</h2>
        <div class="margintop30px"></div>
<div class="table">
      <div id="artist_in">
       <a href="/users/sign_up"><span class="fa fa-coffee"></span>新規登録</a>
      </div>
      <div id="user_in">
       <a href="/users/sign_in"><span class="fa fa-key"></span>ログイン</a>
      </div> 
</div>